.cookbook_title {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  padding-bottom: 10px;
}

.main_info {
  display: inline-block;
  width: 600px;
  vertical-align: top;
}

.other_info {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  text-align: center;
}

.food_cover {
  height: 400px;
}

.sec {
  margin-top: 30px;
}

.card {
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #ccc;
}

.story {
  padding: 10px 0;
}

.story .story_content {
  padding: 10px 14px;
}

.section_title {
  font-size: 20px;
  padding-bottom: 10px;
}

.ingredients_list li {
  width: 282px;
  padding: 4px 8px;
  display: inline-block;
  border-top: 1px solid #dddddd;
}

.ingredients_list li:nth-child(1), .ingredients_list li:nth-child(2) {
  border-top: none;
}

.ingredients_list li:nth-child(odd) {
  border-right: 1px solid #dddddd;
}

.ingredients_list .food_amount {
  float: right;
}

.step_list {
  counter-reset: step-counter;
}

.step_list li {
  font-size: 0;
  padding: 12px 0;
  margin: 0 14px;
  border-bottom: 1px solid #dddddd;
}

.step_detail {
  font-size: 14px;
  width: 370px;
  display: inline-block;
  vertical-align: top;
}

.step_detail:before {
  content: counter(step-counter)'.';
  counter-increment: step-counter;
  font-weight: bold;
  padding-right: 8px;
  color: #999999;
}

.step_pic {
  width: 200px;
  height: 200px;
}

.tips_content {
  padding: 10px 14px;
}

.tips_content li {
  margin-bottom: 14px;
}

.tips_content li:last-child{
  margin-bottom: 0;
}
