h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 28px 0;
  color: #666;
}

#form-field {
  width: 400px;
  margin: 100px auto 0;
  background: #fff;
}

#login-form {
  padding: 0 30px 20px;
}

.login-btn {
  margin-top: 10px;
  text-align: center;
}

.login-btn paper-button {
  background: #e74c3c;
  color: #fff;
}
