body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0
}

ol, ul {
  list-style: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.main-wrapper {
  width: 940px;
  margin: 50px auto 0;
  font-size: 0;
}

.banner {
  display: inline-block;
  margin-top: 20px;
}

id-card {
  margin-top: 20px;
  font-size: 14px;
}

.sec-wrap {
  margin-top: 20px;
  font-size: medium;
}

.sec-wrap h2 {
  font-weight: bold;
  padding-left: 10px;
}

.sec-wrap .list {
  border-left: 2px solid #e67e22;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 0;
}
