h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 26px 30px 0;
  color: #666;
}

#form-field {
  width: 500px;
  margin: 0 auto;
  background-color: #fafafa;
}

#register-form {
  padding: 0 30px 20px;
}

.btn {
  padding-top: 10px;
  text-align: right;
}

paper-button {
  background: #e74c3c;
  color: #fff;
}
