h1 {
  font-size: 24px;
  text-indent: 148px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

a {
  color: #666;
  text-decoration: none;
}

textarea {
  border: 1px solid #deded3;
}

textarea:focus {
  outline: none;
}

paper-input /deep/ ::-webkit-input-placeholder {
  color: #d9c4b0;
}

paper-input /deep/ ::-moz-placeholder {
  color: #d9c4b0;
}

paper-input /deep/ :-ms-input-placeholder {
  color: #d9c4b0;
}

paper-input /deep/ .label-text,
paper-input /deep/ .error {
  color: #d9c4b0;
}

paper-input /deep/ .unfocused-underline {
  background-color: #d9c4b0;
}

paper-input[focused] /deep/ .floated-label .label-text {
  color: #e74c3c;
}

paper-input /deep/ .focused-underline {
  background-color: #e74c3c;
}

paper-input.invalid /deep/ .floated-label .label-text,
paper-input /deep/ .error {
  color: #f06292;
}

paper-input.invalid /deep/ .focused-underline {
  background-color: #f06292;
}

paper-input {
  color: #333;
}

.editor-container {
  width: 640px;
  padding: 20px 40px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fafafa;
  box-shadow: 3px 3px 6px #ccc;
  min-height: 900px;
}

#cookbook-title {
  width: 618px;
  border-radius: 3px;
  padding: 16px 10px;
}

#main-pic-upload {
  width: 600px;
  height: 400px;
  background-color: #ffebd7;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  color: #d9c4b0;
}

#main-pic-upload .plus-icon {
  font-size: 80px;
  text-align: center;
  padding-top: 120px;
}

#main-pic-upload .upload-note {
  text-align: center;
  font-weight: bold;
}

#introduction {
  width: 620px;
  padding: 8px 10px;
  margin-top: 20px;
}

.ingredients li {
  width: 600px;
  margin: 10px auto 0;
  position: relative;
}

.food_name {
  width: 400px;
  margin-right: 14px;
}

.food_quantity {
  width: 100px;
}

.delete-ingredients {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  right: 0;
}

.delete-ingredients:focus {
  outline: none;
}

#tips {
  width: 618px;
  padding: 8px 10px;
}

#submit-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 0 10px 40px;
  border: none;
  background: #e74c3c;
  color: #fff;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 30px;
  cursor: pointer;
}
